@model MESDashboard.Models.Ticket

<h2>Submit a Ticket</h2>

<form asp-action="Submit" method="post">
    <div class="form-group">
        <label asp-for="Department"></label>
        <select asp-for="Department" class="form-control">
            <option value="">Select</option>
            <option value="HR">HR</option>
            <option value="IT">IT</option>
            <option value="Production">Production</option>
        </select>
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Priority"></label>
        <select asp-for="Priority" class="form-control">
            <option value="">Select</option>
            <option value="P1">P1</option>
            <option value="P2">P2</option>
            <option value="P3">P3</option>
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Issue"></label>
        <input asp-for="Issue" class="form-control" />
        <span asp-validation-for="Issue" class="text-danger"></span>
    </div>

    <div class="form-group">
        &nbsp;
    </div>
    
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
